<% if !@participations.count.zero? %>
  <%= simple_form_for :filter, url: request.path, method: 'get' do |f| %>
    <%= f.label :month_number, 'Месяц' %>
    <%= f.month_field(:month_number, html_options = { class: 'select-date'}) %>
    <%= f.button :submit, 'Фильтр', class: 'btn btn-primary' %>
  <% end %>

  <div class='container m-2'>
    <h3><%= @month_name %></h3>
    <table class='table shadow table-hover table-striped'>
      <thead>
        <tr>
          <th>Работники</th>
          <% @days.each do |day| %>
            <th><%= day.strftime("%d") %></th>
          <% end %>
          <%# <th>Итого</th> %>
        </tr>
      </thead>
      <tbody>
        <% @participations.uniq.each do |participation| %>
          <tr>
            <th><%= participation.user.name %></th>
            <% @days.each do |day| %>
              <th>
                <%= find_user_part_day(day, participation.user) %>
              </th>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
