<p style="color: green"><%= notice %></p>

<%= render @sausage %>

<div>
  <%= link_to "Edit this sausage", edit_sausage_path(@sausage) %> |
  <%= link_to "Back to sausages", sausages_path %>

  <%= button_to "Destroy this sausage", @sausage, method: :delete %>
</div>
