<div class="container my-5">
  <div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1>
        <% if @role == 'покупатель' %>
          <i class="fa-solid fa-dollar-sign"></i>
        <% end %>
        <%= @role.capitalize %>
      </h1>
      <%= link_to 'Добавить новый', new_outcomer_path(role: @role), class: 'btn btn-primary' %>
    </div>
    <div class="card-body">
      <% if @outcomers.any? -%>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>разница</th>
              <th>Имя</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @outcomers.each do |outcomer| -%>
              <tr class="<%= !outcomer.active_outcomer && 'table-dark' %>">
                <%= calculate_difference(outcomer) %>
                <td><%= outcomer.name %></td>
                <td>
                  <%= clink_to '', outcomer_path(outcomer), 'fa-search' %>
                  <%= clink_to 'редактировать', edit_outcomer_path(outcomer), 'fa-edit' %>
                </td>
                <td>
                  <% if  outcomer.active_outcomer %>
                    <%= clink_to 'Деактивировать', toggle_active_outcomer_outcomer_path(outcomer), 'fa-ban' %>
                  <% else %>
                    <%= clink_to 'Активировать', toggle_active_outcomer_outcomer_path(outcomer), 'fa-arrow-rotate-right' %>
                  <% end %>
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>
      <% else -%>
        <p class="text-center">пусто</p>
      <% end -%>
    </div>
  </div>
</div>
