<div class="container my-5">
  <div class="card shadow">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">Цена</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold">Стоимость:</p>
        </div>
        <div class="col-md-8">
          <p><%= num_to_usd(@product_price.price) %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold">Товар:</p>
        </div>
        <div class="col-md-8">
          <p><%= link_to @product_price.product.name, product_path(@product_price.product) %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold">Создан в:</p>
        </div>
        <div class="col-md-8">
          <p><%= @product_price.created_at.strftime('%Y-%m-%d %H:%M') %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold">Обновлено в:</p>
        </div>
        <div class="col-md-8">
          <p><%= @product_price.updated_at %></p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="d-flex justify-content-start col-md-12">
          <%= clink_to 'редактировать', edit_product_price_path(@product_price), 'fa-edit' %>
          <%= cdlink_to 'удалить', @product_price %>
          <%= clink_to 'Назад', product_prices_path, 'fa-circle-arrow-left' %>
        </div>
      </div>
    </div>
  </div>
</div>
