<%= search_form_for q, url: url, html: { class: 'form form-horizontal filter-form' } do |f| %>
  <div class="container">
    <div class="row">
      <div class="form-group col-xs-12 col-sm-5 col-md-3">
        <%= f.label :created_at_gteq, 'Создано от:', class: 'control-label' %>
        <%= f.date_field :created_at_gteq, class: 'form-control' %>
      </div>
      <div class="form-group col-xs-12 col-sm-5 col-md-3">
        <%= f.label :created_at_lteq, 'Создано до:', class: 'control-label' %>
        <%= f.date_field :created_at_lteq, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12 col-sm-5 col-md-3">
        <%= f.label :outcomer_id_eq, 'Клиент:', class: 'mr-2' %>
        <%= f.select :outcomer_id_eq, Outcomer.where(active_outcomer: true).collect {|u| [u.name, u.id]}, { include_blank: true }, class: 'form-control mr-2' %>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <%= f.submit 'Фильтр', class: 'btn btn-primary' %>
        <%= link_to 'Очистить поиск', request.path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
<br>
