
<%= simple_form_for(outcomer_prepayment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :outcomer, label: 'Выберите поставщика', collection: @outcomers %>
    <%= f.input :price, label: 'Цена' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Создать' %>
  </div>
<% end %>
