<p style="color: green"><%= notice %></p>

<%= render @end_product %>

<div>
  <%= link_to "Edit this end product", edit_end_product_path(@end_product) %> |
  <%= link_to "Back to end products", end_products_path %>

  <%= button_to "Destroy this end product", @end_product, method: :delete %>
</div>
