<div style='background-color: #80d3ff87;' class="container shadow">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class='text-center'><%= Outcomer.find(params[:outcomer_id])&.name&.upcase %></h2>
      <%= simple_form_for :new_income, url: new_income_incomes_path do |f| %>
        <%= f.input :outcomer_id, input_html: {value: params[:outcomer_id]}, as: :hidden %>
        <% Product.where(weight: 3).each do |product| %>
          <div style='max-width: 500px; margin: 19px auto; justify-content: space-between;' class='shadow flexs'>
            <h4><%= product&.name&.upcase %></h4>
            <%= f.input ('quantity_' + product.id.to_s).to_sym, input_html: { class: 'form-control', placeholder: 'Количество' }, label: false %>
          </div>
        <% end %>
        <div style='max-width: 535px; margin: 19px auto' class='flexs'>
          <%= f.submit "Создать", class: 'btn btn-lg btn-primary ' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
