<%= simple_form_for :filter, :url => url, html: { class: 'form form-horizontal filter-form' }, method: 'get' do |f| %>
  <div class='row'>
    <div class="col-sm-4">
      <%= f.input :from, label: 'от', as: :date %>
    </div>
    <div class="col-sm-4">
      <%= f.input :till, label: 'до', as: :date %>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-3">
        <%= f.submit 'Фильтр', class: 'btn btn-warning' %>
        <%= link_to 'Очистить фильтр', request.path, class: "btn btn-danger" %>
      </div>
    </div>
<% end %>
<br><br>
