<div class='col-sm-4'>
  <h2 class='text-center'>ИНФОРМАЦИЯ</h2>
  <table class='table shadow table-hover table-striped'>
    <thead>
      <tr>
        <th></th>
        <th>Сегодня</th>
        <th>Общий</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Общий доход</th>
        <td><%= num_to_usd(@today_overall_income) %></td>
        <td><%= num_to_usd(@overall_income) %></td>
      </tr>
      <tr>
        <th>Реальный доход</th>
        <td><%= num_to_usd(@today_real_income) %></td>
        <td><%= num_to_usd(@real_income) %></td>
      </tr>
      <tr>
        <th>Общие расходы</th>
        <td><%= num_to_usd(@today_overall_expenditure) %></td>
        <td><%= num_to_usd(@overall_expenditure) %></td>
      </tr>
      <tr>
        <th>Реальные расходы</th>
        <td><%= num_to_usd(@today_real_expenditure) %></td>
        <td><%= num_to_usd(@real_expenditure) %></td>
      </tr>
      <tr>
        <th>Остаток Упаковок</th>
        <td colspan="2" class='text-center'><%= num_to_usd(@real_income) %> - </td>
      </tr>
      <tr>
        <th>Остаток на кассе</th>
        <td> <%= num_to_usd(@today_real_income - @today_real_expenditure) %> </td>
        <td class='text-center'><%= num_to_usd(@real_income - @real_expenditure) %></td>
      </tr>
    </tbody>
  </table>
</div>
