<%= simple_form_for(@book, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-group">
    <%= f.label :sold %>
    <%= f.number_field :sold, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :active %>
    <%= f.check_box :active, class: 'form-check-input' %>
  </div>

  <div class="form-group">
    <%= f.button :submit,'совершить', class: 'btn btn-primary' %>
    <%= link_to "Отмена", books_path, class: 'btn btn-secondary' %>
  </div>
<% end %>