<div class="container my-5">
  <div class="card shadow">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">Детали продукта</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold">Название:</p>
        </div>
        <div class="col-md-8">
          <p><%= @book.name %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold">Цена:</p>
        </div>
        <div class="col-md-8">
          <p><%= @book.sold %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold">Создан в:</p>
        </div>
        <div class="col-md-8">
          <p><%= @book.created_at %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p class="font-weight-bold">Обновлено в:</p>
        </div>
        <div class="col-md-8">
          <p><%= @book.updated_at %></p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="d-flex justify-content-start col-md-12">
          <%= clink_to 'редактировать', edit_book_path(@book), 'fa-edit' %>
          <%= cdlink_to 'удалить', @book %>
          <%= clink_to 'Назад', books_path, 'fa-circle-arrow-left' %>
        </div>
      </div>
    </div>
  </div>
</div>
