<div id="<%= dom_id expenditure %>">
  <p>
    <strong>Executor:</strong>
    <%= expenditure.executor_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= expenditure.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= expenditure.user_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= expenditure.product_id %>
  </p>

  <p>
    <strong>Expenditure type:</strong>
    <%= expenditure.expenditure_type %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= expenditure.price %>
  </p>

  <p>
    <strong>Total paid:</strong>
    <%= expenditure.total_paid %>
  </p>

</div>
