<% if @action == 'for_product' %>
  <h3><%= @product.name %></h3>
<% end %>

<%= simple_form_for(@expenditure, html: { class: 'form-horizontal shadow' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if @action == 'for_product' %>

      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.input :quantity, label: 'Количество' %>

      <%= f.label :outcomer_id, 'Поставщики:' %>
      <%= f.select :outcomer_id, options_for_select(@outcomers.where(active_outcomer: true).order(:name).pluck(:name, :id), @expenditure.outcomer_id), { include_blank: false, label: 'Выберите Поставщика', required: true, autofocus: true, multiple: true }, { class: 'form-control custom-select-lg', size: 5 } %>
      <br>

      <%= f.label :product_price, 'Выберите цену:' %>
      <%= f.select :product_price, options_for_select(@product.product_prices.map { |pp| [pp.price, pp.price, { selected: !@expenditure.price.nil? && pp.price == @expenditure.price / @expenditure.quantity }] }), { include_blank: false, required: true, autofocus: true, multiple: true }, { class: 'form-control', size: 3 } %>
      <br>

      <% if policy(:view).access? %>
        <%= f.input :total_paid, label: 'Оплачен' %>
      <% end %>
    <% end %>

    <% if @action == 'payment' %>
      <%= f.association :user, collection: User.where(active_user: true).order(:name).pluck(:name, :id), label: 'Работник' %>
    <% end %>

    <% if @action == 'other' %>
      <%= f.input :expenditure_type, collection: Expenditure.expenditure_types.keys.slice(4..-1).to_a.map { |key| [Expenditure.human_attribute_name("expenditure_type.#{key}"), key] }, include_blank: false, label: 'Тип рассхода' %>
    <% end %>

    <% unless @action == 'other' %>
      <%= f.input :expenditure_type, input_html: {value: @expenditure_type}, as: :hidden %>
    <% end %>

    <% if @action == 'transaction' %>
      <%= f.association :outcomer, collection: Outcomer.where(active_outcomer: true).where(role: :поставщик).order(:name).pluck(:name, :id), class: 'form form-control', include_blank: false, label: 'Поставщик' %>
    <% end %>

    <% unless @action == 'for_product' %>
      <%= f.input :price, label: 'цена' %>
    <% end %>

    <%# # if postavhcchik %>
    <%# <%= f.input :comment, label: 'Комментарий (необязательно)' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Завершить', class: 'btn btn-primary mb-5' %>
  </div>
<% end %>
