<%= simple_form_for(@expenditure, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if @action == 'for_product' %>
      <h3><%= @product.name %></h3>
      <hr>
      <%= f.association :outcomer, collection: Outcomer.where(active_outcomer: true).where(role: :поставщик).order(:name).pluck(:name, :id), class: 'form form-control', include_blank: false, label: 'Поставщик' %>
      <%= f.collection_select :product_id, Product.all, :id, :name, { selected: @product.id }, { include_blank: false, class: 'form form-control', label: 'Продукт' } %>
      <%= f.input :quantity, label: 'Количество' %>
      <%= f.input :product_price, collection: @product.product_prices.pluck(:price, :price), label: 'Цена продукта', include_blank: false %>
      <% if policy(:view).access? %>
        <%= f.input :total_paid, label: 'Оплачен' %>
      <% end %>
    <% end %>

    <% if @action == 'payment' %>
      <%= f.association :user, collection: User.where(active_user: true).order(:name).pluck(:name, :id), label: 'Работник' %>
    <% end %>

    <% if @action == 'other' %>
      <%= f.input :expenditure_type, collection: Expenditure.expenditure_types.keys.slice(4..-1).to_a.map { |key| [Expenditure.human_attribute_name("expenditure_type.#{key}"), key] }, include_blank: false, label: 'Тип рассхода' %>
    <% end %>

    <% unless @action == 'other' %>
      <%= f.input :expenditure_type, input_html: {value: @expenditure_type}, as: :hidden %>
    <% end %>

    <% if @action == 'transaction' %>
      <%= f.association :outcomer, collection: Outcomer.where(active_outcomer: true).where(role: :поставщик).order(:name).pluck(:name, :id), class: 'form form-control', include_blank: false, label: 'Поставщик' %>
    <% end %>

    <% unless @action == 'for_product' %>
      <%= f.input :price, label: 'цена' %>
    <% end %>

    <%# # if postavhcchik %>
    <%# <%= f.input :comment, label: 'Комментарий (необязательно)' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'создать', class: 'btn btn-primary' %>
  </div>
<% end %>
