<%= search_form_for @q, url: url, html: { class: 'form form-horizontal filter-form' } do |f| %>
  <div class="container">
    <div class="row">
      <div class="form-group col-xs-12 col-sm-5 col-md-3">
        <%= f.label :created_at_gteq, 'Создано от:', class: 'control-label' %>
        <%= f.date_field :created_at_gteq, class: 'form-control' %>
      </div>
      <div class="form-group col-xs-12 col-sm-5 col-md-3">
        <%= f.label :created_at_lteq, 'Создано до:', class: 'control-label' %>
        <%= f.date_field :created_at_lteq, class: 'form-control' %>
      </div>
      <% if @expenditure_types.present? %>
        <div class="form-group col-xs-12 col-sm-5 col-md-3">
          <%= f.label :expenditure_type_eq, 'Тип расходов:', class: 'mr-2' %>
          <%= f.select :expenditure_type_eq, @expenditure_types, { include_blank: true }, class: 'form-control mr-2' %>
        </div>
      <% end %>
      <div class="form-group col-xs-12 col-sm-5 col-md-3">
        <%= f.label :executor_id_eq, 'Исполнитель:', class: 'mr-2' %>
        <%= f.select :executor_id_eq, User.where(role: ['админ', 'менеджер', 'другой']).collect {|u| [u.name, u.id]}, { include_blank: true }, class: 'form-control mr-2' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12 col-sm-5 col-md-3">
        <%= f.label :price_gteq, 'Цена от:', class: 'mr-2' %>
        <%= f.number_field :price_gteq, class: 'form-control mr-2' %>
      </div>
      <div class="form-group col-xs-12 col-sm-5 col-md-3">
        <%= f.label :price_lteq, 'Цена до:', class: 'mr-2' %>
        <%= f.number_field :price_lteq, class: 'form-control mr-2' %>
      </div>
      <% if type=='payment' %>
        <div class="form-group col-xs-12 col-sm-5 col-md-3">
          <%= f.label :user_id_eq, 'Кому:', class: 'mr-2' %>
          <%= f.select :user_id_eq, User.all.collect {|u| [u.name, u.id]}, { include_blank: true }, class: 'form-control mr-2' %>
        </div>
      <% end %>

      <% if type=='for_product' %>
        <div class="form-group col-xs-12 col-sm-5 col-md-3">
          <%= f.label :outcomer_id_eq, 'поставщик:', class: 'mr-2' %>
          <%= f.select :outcomer_id_eq, Outcomer.поставщик.all.collect {|u| [u.name, u.id]}, { include_blank: true }, class: 'form-control mr-2' %>
        </div>
        <div class="form-group col-xs-12 col-sm-5 col-md-3">
          <%= f.label :product_id_eq, 'товар:', class: 'mr-2' %>
          <%= f.select :product_id_eq, Product.where.not(weight: 3).collect {|u| [u.name, u.id]}, { include_blank: true }, class: 'form-control mr-2' %>
        </div>
      <% end %>
    </div>

    <br>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6">
        <%= f.submit 'Фильтр', class: 'btn btn-primary' %>
        <%= link_to 'Очистить поиск', request.path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
<br>
