<div class="container my-5">
  <div class="card shadow">
    <%= render 'index_filter_form', type: 'payment', url: request.path, q: @q %>
    <div class="card-body">
      <div class= 'card-header'>
        <h3>Расход на зарплату</h3>
      </div>
        <div class="sum-of-prices mb-3 d-flex">
          <strong>Сумма цен: <%= num_to_usd(@sum) %></strong>
        </div>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th><%= sort_link @q, :id, 'ID' %></th>
              <th><%= sort_link @q, :expenditure_type, 'Тип расхода' %></th>
              <th><%= sort_link @q, :price, 'Цена' %></th>
              <th><%= sort_link @q, :user_id, 'Кому' %></th>
              <th><%= sort_link @q, :executor, 'Исполнитель' %></th>
              <th><%= sort_link @q, :comment, 'Комментарий' %></th>
              <th><%= sort_link @q, :created_at, 'Создано в' %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @payment_expenditures.each do |expenditure| -%>
              <tr>
                <td><%= expenditure.id %></td>
                <td><%= expenditure.expenditure_type %></td>
                <td><%= num_to_usd(expenditure.price) %></td>
                <td><%= expenditure.user.name %></td>
                <td><%= User.find(expenditure.executor_id)&.name %></td>
                <td><%= expenditure.comment %></td>
                <td><%= expenditure.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                <td>
                  <%= clink_to 'редактировать', edit_expenditure_path(expenditure), 'fa-edit' %>
                  <%= cdlink_to 'delete', expenditure %>
                </td>
              </tr>
            <% end -%>
          </tbody>
        </table>
        <%= paginate @payment_expenditures %>
    </div>
  </div>
</div>
