<p style="color: green"><%= notice %></p>

<%= render @machine_size %>

<div>
  <%= link_to "Edit this machine size", edit_machine_size_path(@machine_size) %> |
  <%= link_to "Back to machine sizes", machine_sizes_path %>

  <%= button_to "Destroy this machine size", @machine_size, method: :delete %>
</div>
