<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'ROLLI', main_page_path, class: 'navbar-item', style: 'font-family: cursive'%>
      <button class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarSupportedContent">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="navbarSupportedContent" class="navbar-menu">
      <div class="navbar-start">
        <% if user_signed_in? %>
          <% if policy(:view).access? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Клиенты
              </a>
              <div class="navbar-dropdown">
                <%= link_to "Покупатели", outcomers_path(role: :покупатель), class: "navbar-item" %>
                <%= link_to "Поставщики", outcomers_path(role: :поставщик), class: "navbar-item" %>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Продажа
              </a>
              <div class="navbar-dropdown">
                <%= link_to 'Добавить новую продажу', define_outcomer_incomes_path(end_product: true), class: 'navbar-item' %>
                <%= link_to 'продажи', incomes_path, class: 'navbar-item' %>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Добавить расходы
              </a>
              <div class="navbar-dropdown" >
                <%= link_to "На товар", products_path, class: "navbar-item" %>
                <%= link_to "Для выплаты", new_expenditure_path(expenditure_type: 'зарплата'), class: "navbar-item" %>
                <%= link_to "Аванс", new_expenditure_path(expenditure_type: 'аванс'), class: "navbar-item" %>
                <%= link_to "Для прочих целей", new_expenditure_path, class: "navbar-item" %>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Расходы
              </a>
              <div class="navbar-dropdown">
                <%= link_to "на товар", product_expenditure_expenditures_path, class: "navbar-item" %>
                <%= link_to "на зарплату", payment_expenditure_expenditures_path, class: "navbar-item" %>
                <%= link_to "для остального", expenditures_path, class: "navbar-item" %>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Заготовка
              </a>
              <div class="navbar-dropdown" aria-labelledby="navbarDropdown">
                <%= link_to 'Заготовки', billets_path, class: 'navbar-item' %>
                <%= link_to 'Добавить новую заготовку', new_billet_path, class: 'navbar-item' %>
              </div>
            </div>
            <li class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Упаковка
              </a>
              <div class="navbar-dropdown" aria-labelledby="navbarDropdown">
                <%= link_to 'Упаковки', packages_path, class: 'navbar-item' %>
                <%= link_to 'Добавить новую упаковку', new_package_path, class: 'navbar-item' %>
              </div>
            </li>
            <li class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link dropdown-toggle">
                Работники
              </a>
              <div class="navbar-dropdown" aria-labelledby="navbarDropdown">
                <%= link_to 'Работники', users_path, class: 'dropdown-item' %>
                <%= link_to 'добавить нового работника', new_user_form_users_path, class: 'dropdown-item' %>
                <%= link_to 'переклички', participations_path, class: 'dropdown-item' %>
                <%= link_to 'добавить новую перекличку', new_participation_path, class: 'dropdown-item' %>
               </div>
            </li>
            <li class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link dropdown-toggle">
                Колбасы
              </a>
              <div class="navbar-dropdown" aria-labelledby="outcomerDropdown">
                <%= link_to "колбасы", sausages_path, class: "dropdown-item" %>
                <%= link_to "добавить новую колбасу", new_sausage_path, class: "dropdown-item" %>
                <%= link_to "станки", machine_sizes_path, class: "dropdown-item" %>
                <%= link_to "показать ожидаемый платеж операторов", operators_payment_sausages_path, class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
          <% if policy(:view).admin? %>
            <a class="navbar-item" href="<%= dashboard_path %>">
              Админ
            </a>
          <% end %>
          <% if policy(:view).product_access? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Товары
              </a>
              <div class="navbar-dropdown">
                <%= link_to 'Товары', products_path(end_product: true), class: 'navbar-item' %>
                <%= link_to 'Сырья', products_path, class: 'navbar-item' %>
                <%= link_to 'Цены', product_prices_path, class: 'navbar-item' %>
                <%= link_to 'Возвраты', refunds_path, class: 'navbar-item' %>
                <%= link_to 'Добавить возврат', new_refund_path, class: 'navbar-item' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="navbar-end">
        <% if user_signed_in? %>
          <div class="navbar-item">
            <%= button_to "Выйти", destroy_user_session_path, class: "button",  method: :delete %>
          </div>
        <% else %>
          <div class="navbar-item">
            <%= link_to "Войти", new_user_session_path, class: "navbar-link" %>
          </div>
          <div class="navbar-item">
            <%= link_to "Зарегистрироваться", new_user_registration_path, class: "navbar-link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
